@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

/* ----------  RESET  ---------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0;
  padding-left: 0;
}

/* ----------  END RESET  ---------- */
body {
  font-family: DM Sans, sans-serif;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.no-link {
  text-decoration: none;
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.card-set {
  margin-left: calc(var(--card-gap) * -1);
  margin-top: calc(var(--card-gap) * -1);
}

.card-set-item {
  -ms-flex-preferred-size: calc(100% / var(--card-item) - var(--card-gap));
      flex-basis: calc(100% / var(--card-item) - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.container {
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 700px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1050px;
  }
}

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --hero-bg-color: #ffb8ca;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --third-text-color: #907e82;
  --first-logo-color: #d41443;
  --secondary-logo-color: #ffffff;
  --third-logo-color: #ffa5ba;
  --card-item: 3;
  --card-gap: 20px;
}

/* ----------  RESET  ---------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0;
  padding-left: 0;
}

/* ----------  END RESET  ---------- */
.contacts {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(8.3%, var(--secondary-logo-color)), color-stop(8.3%, var(--secondary-bg-color)));
  background-image: linear-gradient(to bottom, var(--secondary-logo-color) 8.3%, var(--secondary-bg-color) 8.3%);
}

@media screen and (min-width: 768px) {
  .contacts {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(18%, var(--secondary-logo-color)), color-stop(18%, var(--secondary-bg-color)));
    background-image: linear-gradient(to bottom, var(--secondary-logo-color) 18%, var(--secondary-bg-color) 18%);
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20.7%, var(--secondary-logo-color)), color-stop(20.7%, var(--secondary-bg-color)));
    background-image: linear-gradient(to bottom, var(--secondary-logo-color) 20.7%, var(--secondary-bg-color) 20.7%);
  }
}

.contacts-main {
  padding-top: 45px;
  padding-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .contacts-main {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-main {
    padding-top: 76px;
    padding-bottom: 83px;
  }
}

.representation__card {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 43px 21px 43px 20px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  max-width: 100 vw;
}

@media screen and (min-width: 768px) {
  .representation__card {
    padding: 50px 32px 50px 31px;
  }
}

@media screen and (min-width: 1280px) {
  .representation__card {
    padding: 51px 44px 62px 43px;
  }
}

.representation__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}

.representation__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .representation__item {
    -ms-flex-preferred-size: calc((100% - 40px) / 3);
        flex-basis: calc((100% - 40px) / 3);
    margin-bottom: 0;
    font-size: 14px;
  }
  .representation__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .representation__item {
    font-size: 16px;
  }
}

.representation__link {
  margin-bottom: 25px;
}

.representation__region {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .representation__region {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .representation__region {
    font-size: 16px;
  }
}

.representation__description {
  line-height: 1.5;
  color: var(--third-text-color);
  margin-bottom: 50px;
  max-width: 179px;
}

@media screen and (min-width: 768px) {
  .representation__description {
    font-size: 14px;
    line-height: 1.66;
  }
}

@media screen and (min-width: 1280px) {
  .representation__description {
    font-size: 16px;
    line-height: 1.83;
  }
}

.schedul__item {
  margin-bottom: 10px;
}

.schedul__list {
  margin-bottom: 50px;
}

.representation__list {
  margin-bottom: 54px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .representation__list {
    max-width: 220px;
  }
}

@media screen and (min-width: 768px) {
  .representation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: none;
    margin-top: -20px;
    margin-left: -20px;
  }
}

.representation__name {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #f0d1a5;
  color: var(--secondary-logo-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0 30px;
}

@media screen and (min-width: 768px) {
  .representation__name {
    padding: 0 15px;
    font-size: 16px;
  }
}

.representation__item:nth-child(2n) .representation__name {
  background-color: #c2e297;
}

.schedul__days {
  color: var(--primary-text-color);
}

.schedul__time {
  color: var(--third-logo-color);
}

.contact__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--third-text-color);
}

@media screen and (min-width: 768px) {
  .contact__link {
    font-size: 14px;
    line-height: 1.83;
  }
}

@media screen and (min-width: 1280px) {
  .contact__link {
    font-size: 16px;
  }
}

.representation__button-block {
  text-align: center;
}

.button-block__item:not(:last-child) {
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */