// Здесь пишутся настройки по-умолчанию

body {
  font-family: DM Sans, sans-serif;
  line-height: 1;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.no-link {
  text-decoration: none;
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

// Карточки и их размеры

.card-set {
  // display-flex каждый подключает себе отдельно, если надо
  margin-left: calc(var(--card-gap) * -1);
  margin-top: calc(var(--card-gap) * -1);
}

.card-set-item {
  flex-basis: calc(100% / var(--card-item) - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

// контейнер

.container {
  // min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 740px;
  }

  @media screen and (min-width: 1280px) {
    width: 1090px;
  }
}
