// Здесь пишутся все переменные проекта
:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --hero-bg-color: #ffb8ca;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --third-text-color: #907e82;
  --first-logo-color: #d41443;
  --secondary-logo-color: #ffffff;
  --third-logo-color: #ffa5ba;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // card set

  // количество карточек
  --card-item: 3;

  // зазор между карточками
  --card-gap: 20px;
}
