// Здесь пишутся все переменные проекта
:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --hero-bg-color: #ffb8ca;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --third-text-color: #907e82;
}
