<section class="section about about-bg">
    <div class="container ">
        <p class="pretitle">tradition and love</p>
        <h2 class="title">how it’s made?</h2>
        <div class="about-content">
            <div class="about-image">
                <picture>
                    <source
                        srcset="./images/about_img/about-cow-1x-tel.png 1x,
                                ./images/about_img/about-cow-2x-tel.png 2x"
                        media="(min-width: 320px)"
                    />
                    <source
                        srcset="./images/about_img/about-cow-1x-tab.png 1x,
                                ./images/about_img/about-cow-2x-tab.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./images/about_img/about-cow-1x-desk.png 1x,
                                ./images/about_img/about-cow-2x-desk.png 2x"
                        media="(min-width: 1280px)"
                    />
                    <img src="./images/about_img/about-cow-1x-desk.png" alt="cow">
                </picture>
            </div>
            
            <div class="about-text">
                <p class="about-text__first">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about-text__second">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                <br>
                <br> Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about-btn" data-modal-open>
                    Read more
                    <svg class="about-btn__icon" width="20" height="20">
                      <use href="./images/footer_img/symbol-defs.svg#icon-circle-right"></use>
                    </svg>
                  </button>
                
            </div>
        </div>
    </div>

    <div class="backdrop is-hidden" data-modal>
        <div class="about-modal">
            <button data-modal-close type="button" class="modal__close">
                <svg class="modal__icon about-modal__icon" width="18" height="18">
                    <use href="./images/footer_img/symbol-defs.svg#icon-close-icon-modal"></use>
                </svg>
            </button>
            <h2 class="modal-title" >The Evolution of Ice Cream</h2>
            <p class="modal-item" >Ice cream's origins are known to reach back as far as the second century B.C., although no specific date of origin nor inventor has been undisputably credited with its discovery. We know that Alexander the Great enjoyed snow and ice flavored with honey and nectar. Biblical references also show that King Solomon was fond of iced drinks during harvesting. During the Roman Empire, Nero Claudius Caesar (A.D. 54-86) frequently sent runners into the mountains for snow, which was then flavored with fruits and juices.

            Over a thousand years later, Marco Polo returned to Italy from the Far East with a recipe that closely resembled what is now called sherbet. Historians estimate that this recipe evolved into ice cream sometime in the 16th century. England seems to have discovered ice cream at the same time, or perhaps even earlier than the Italians. "Cream Ice," as it was called, appeared regularly at the table of Charles I during the 17th century. France was introduced to similar frozen desserts in 1553 by the Italian Catherine de Medici when she became the wife of Henry II of France. It wasn't until 1660 that ice cream was made available to the general public. The Sicilian Procopio introduced a recipe blending milk, cream, butter and eggs at Café Procope, the first café in Paris.</p>
            <br>

            <h2 class="modal-title">Ice Cream for America</h2>
            <p class="modal-item">The first official account of ice cream in the New World comes from a letter written in 1744 by a guest of Maryland Governor William Bladen. The first advertisement for ice cream in this country appeared in the New York Gazette on May 12, 1777, when confectioner Philip Lenzi announced that ice cream was available "almost every day." Records kept by a Chatham Street, New York, merchant show that President George Washington spent approximately $200 for ice cream during the summer of 1790. Inventory records of Mount Vernon taken after Washington's death revealed "two pewter ice cream pots." President Thomas Jefferson was said to have a favorite 18-step recipe for an ice cream delicacy that resembled a modern-day Baked Alaska. Check out President Jefferson's vanilla ice cream recipe here. In 1813, Dolley Madison served a magnificent strawberry ice cream creation at President Madison's second inaugural banquet at the White House.

            Until 1800, ice cream remained a rare and exotic dessert enjoyed mostly by the elite. Around 1800, insulated ice houses were invented. Manufacturing ice cream soon became an industry in America, pioneered in 1851 by a Baltimore milk dealer named Jacob Fussell. Like other American industries, ice cream production increased because of technological innovations, including steam power, mechanical refrigeration, the homogenizer, electric power and motors, packing machines, and new freezing processes and equipment. In addition, motorized delivery vehicles dramatically changed the industry. Due to ongoing technological advances, today's total frozen dairy annual production in the United States is more than 6.4 billion pounds.
            
            Wide availability of ice cream in the late 19th century led to new creations. In 1874, the American soda fountain shop and the profession of the "soda jerk" emerged with the invention of the ice cream soda. In response to religious criticism for eating "sinfully" rich ice cream sodas on Sundays, ice cream merchants left out the carbonated water and invented the ice cream "Sunday" in the late 1890's. The name was eventually changed to "sundae" to remove any connection with the Sabbath.
            
            Ice cream became an edible morale symbol during World War II. Each branch of the military tried to outdo the others in serving ice cream to its troops. In 1945, the first "floating ice cream parlor" was built for sailors in the western Pacific. When the war ended, and dairy product rationing was lifted, America celebrated its victory with ice cream. Americans consumed over 20 quarts of ice cream per person in 1946.
            
            In the 1940s through the ‘70s, ice cream production was relatively constant in the United States. As more prepackaged ice cream was sold through supermarkets, traditional ice cream parlors and soda fountains started to disappear. Now, specialty ice cream stores and unique restaurants that feature ice cream dishes have surged in popularity. These stores and restaurants are popular with those who remember the ice cream shops and soda fountains of days past, as well as with new generations of ice cream fans.</p>
        </div>
    </div>

</section>
