<section class="section about about-bg">
    <div class="container ">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about-content">
            <div class="about-image">
                <img class="about__img" src="./images/About_img/about-cow.png" alt="cow" width="279" width="279">
            </div>
            
            <div class="about-text">
                <p class="about-text__first">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about-text__second">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                <br>
                <br> Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about__btn" type="button" >Read more</button>
            </div>
        </div>
    </div>
</section>