<section class="section about about-bg">
    <div class="container ">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about-content">
            <div class="about-image">
                <picture>
                    <source
                        srcset="./images/about_img/about-cow-1x-tel.png 1x,
                                ./images/about_img/about-cow-2x-tel.png 2x"
                        media="(min-width: 320px)"
                    />
                    <source
                        srcset="./images/about_img/about-cow-1x-tab.png 1x,
                                ./images/about_img/about-cow-2x-tab.png 2x"
                        media="(min-width: 768px)"
                    />
                    <source
                        srcset="./images/about_img/about-cow-1x-desk.png 1x,
                                ./images/about_img/about-cow-2x-desk.png 2x"
                        media="(min-width: 1280px)"
                    />
                    <img src="./images/about_img/about-cow-1x-desk.png" alt="cow">
                </picture>
            </div>
            
            <div class="about-text">
                <p class="about-text__first">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about-text__second">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                <br>
                <br> Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about__btn" type="button" >Read more
                    <svg class="btn__icon" width="8" height="10">
                        <use href="./images/about_img/vector.svg"></use>
                    </svg>
                </button>
                
            </div>
        </div>
    </div>
</section>
