<section class="section">
    <div class="container">
        <h2 class="section__title visually-hidden">Advantages</h2>
        <ul class="card-set">
            <li class="card-set-item">
                <div class="advantages-img1"></div>
                <h3 class="advantages__title">721</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="card-set-item">
                <div class="advantages__img2"></div>
                <h3 class="advantages__title">16KG</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="card-set-item">
                <div class="advantages__img3"></div>
                <h3 class="advantages__title">84</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>