<section class="section advantages" id="advantages">
    <div class="container">
        <h2 class="section__title visually-hidden">Advantages</h2>
        <ul class="card-set list">
            <li class="card-set-item advantages__item">
                <h3 class="advantages__title">721</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="card-set-item advantages__item">
                <h3 class="advantages__title">16KG</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="card-set-item advantages__item">
                <h3 class="advantages__title">84</h3>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>