<section class="contacts" id="contacts">
  <div class="container contacts-main">
    <h2 class="contacts__titl visually-hidden">Section Contact</h2>
    <ul class="representation__list list card-set">
      <li class="representation__item text-main card-set-item">
        <div class="representation__card">
          <a href="" class="representation__link no-link">
            <button type="button" class="representation__name">CAFE</button>
          </a>

          <h3 class="representation__region text-main">Chicago</h3>
          <p class="representation__description text-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="schedul__list list">
            <li class="schedul__item">
              <p class="schedul__days text-main">Monday - Friday</p>
              <p class="schedul__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedul__item--day-off">
              <p class="schedul__days text-main">Saturday - Sunday</p>
              <p class="schedul__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list list">
            <li class="contact__item">
              <a href="tel:+610383766284" class="contact__link no-link">
                <span class="contact__text">+61(0) 383 766 284 </span>
              </a>
            </li>
            <li class="contact__item">
              <a href="mailto:noreply@envato.com" class="contact__link no-link">
                <span class="contact__text"> noreply@envato.com</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="representation__item text-main card-set-item">
        <div class="representation__card">
          <a href="" class="representation__link no-link">
            <button type="button" class="representation__name">FOOD TRUCK</button>
          </a>
          <h3 class="representation__region text-main">Los Angeles</h3>
          <p class="representation__description text-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="schedul__list list">
            <li class="schedul__item">
              <p class="schedul__days text-main">Monday - Friday</p>
              <p class="schedul__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedul__item">
              <p p class="schedul__days text-main">Saturday - Sunday</p>
              <p class="schedul__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list list">
            <li class="contact__item">
              <a href="tel:+610383766284" class="contact__link no-link">
                <span class="contact__text">+61(0) 383 766 284 </span>
              </a>
            </li>
            <li class="contact__item">
              <a href="mailto:noreply@envato.com" class="contact__link no-link">
                <span class="contact__text"> noreply@envato.com</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="representation__item text-main card-set-item">
        <div class="representation__card">
          <a href="" class="representation__link no-link">
            <button type="button" class="representation__name">CAFE</button>
          </a>
          <h3 class="representation__region text-main">New York</h3>
          <p class="representation__description text-description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="schedul__list list">
            <li class="schedul__item">
              <p class="schedul__days text-main">Monday - Friday</p>
              <p class="schedul__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedul__item">
              <p p class="schedul__days text-main">Saturday - Sunday</p>
              <p class="schedul__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list list">
            <li>
              <a href="tel:+610383766284" class="contact__link no-link">
                <span class="contact__text">+61(0) 383 766 284 </span>
              </a>
            </li>
            <li class="contact__item">
              <a href="mailto:noreply@envato.com" class="contact__link">
                <span class="contact__text"> noreply@envato.com</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="representation__button-block list">
      <li class="button-block__item">
        <button type="button " class="primary-btn" data-location-open>
          Our Locations

          <svg class="primary-btn__send" width="20" height="20">
            <use href="./images/sprite_img/symbol-defs-min.svg#icon-circle-right"></use>
          </svg>
        </button>
      </li>
      <li class="button-block__item">
        <button type="button" class="primary-btn primary-btn--invert" data-agreement-open>
          Franchise
          <svg class="primary-btn--invert__send" width="20" height="20">
            <use href="./images/sprite_img/symbol-defs-min.svg#icon-circle-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<div class="backdrop is-hidden" data-location>
  <div class="modal">
    <button data-location-close type="button" class="modal__close">
      <svg class="modal__icon" width="18" height="18">
        <use href="./images/sprite_img/symbol-defs-min.svg#icon-close-icon-modal"></use>
      </svg>
    </button>
    <div class="modal-map">
      <div class="modal-map__client-location">
        <div class="modal-map__client">
          <a href="" class="no-link">
            <button type="button" class="representation__name">CAFE</button>
          </a>
          <h3 class="representation__region">Chicago</h3>
        </div>
        <!-- <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.7160651051!2d-88.01215326573953!3d41.833392491649455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1645303336928!5m2!1sru!2sua"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe> -->
      </div>

      <div class="modal-map__client-location">
        <div class="modal-map__client">
          <a href="" class="no-link">
            <button type="button" class="representation__name">FOOD TRUCK</button>
          </a>
          <h3 class="representation__region">Los Angeles</h3>
        </div>
        <!-- <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.274126597!2d-118.6919265664908!3d34.02016129271834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1645303928382!5m2!1sru!2sua"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe> -->
      </div>

      <div class="modal-map__client-location">
        <div class="modal-map__client">
          <a href="" class="no-link">
            <button type="button" class="representation__name">CAFE</button>
          </a>
          <h3 class="representation__region">New York</h3>
        </div>
        <!-- <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3060135961!2d-74.2598710545227!3d40.69714940585522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1645303977250!5m2!1sru!2sua"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe> -->
      </div>
    </div>
  </div>
</div>
<div class="backdrop is-hidden" data-agreement>
  <div class="modal">
    <button data-agreement-close type="button" class="modal__close">
      <svg class="modal__icon" width="18" height="18">
        <use href="./images/sprite_img/symbol-defs-min.svg#icon-close-icon-modal"></use>
      </svg>
    </button>
    <div class="modal-franchise__agreement">
      <p class="text-main">Franchise agreement</p>

      <p class="text-description">
        Most ICECREAM restaurants are owned by independent operators who enter into a franchise
        agreement with the company. Franchisees must have a business background and the capital
        required to open a restaurant. “Entrepreneur” listed ICECREAM restaurant startup costs from
        $500000 to $100000. Franchise agreements are for 20 years and include a number of standards
        and legal requirements that franchisees must follow, including adhering to menu items,
        employee training, and the use of company products, such as soft goods. ICECREAM has
        terminated franchise agreements for a variety of infractions.
      </p>
      <a href="" class="modal-franchise__link text-main">Read more</a>

      <p class="text-main">Leave your details we will call you back</p>
      <form class="form-registration" autocomplete="off">
        <h2 class="visually-hidden">Form</h2>

        <div class="form-registration__field">
          <label class="form-registration__label text-description" for="form-name"> Name </label>

          <div class="form-registration__wrap-input">
            <input
              id="form-name"
              class="form-registration__input"
              type="text"
              name="form-name"
              placeholder=" "
            />

            <svg
              class="form-registration__icon form-registration__icon--displacement"
              width="18"
              height="18"
            >
              <use href="./images/footer_img/symbol-defs.svg#icon-person-icon-modal"></use>
            </svg>
          </div>
        </div>
        <div class="form-registration__field">
          <label class="form-registration__label text-description" for="form-phone"> Phone </label>

          <div class="form-registration__wrap-input">
            <input
              id="form-phone"
              class="form-registration__input"
              type="number"
              name="form-phone"
              placeholder=" "
            />

            <svg
              class="form-registration__icon form-registration__icon--displacement"
              width="18"
              height="18"
            >
              <use href="./images/footer_img/symbol-defs.svg#icon-phone-icon-modal"></use>
            </svg>
          </div>
        </div>
        <button type="submit" class="primary-btn">Send</button>
      </form>
    </div>
  </div>
</div>
