<section class="contacts">
  <div class="container">
    <h1 contacts__title>Section Contact</h1>
    <ul class="representation__list">
      <li class="representation__item">
        <div class="representation__card">
          <a href="" class="representation__link">
            <span class="representation__name">CAFE</span>
          </a>

          <h2 class="representation__region">Chicago</h2>
          <p class="representation__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="schedul__list">
            <li class="schedul__item">
              <p class="schedul__days">Monday - Friday</p>
              <p class="schedul__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedul__item">
              <p class="schedul__days">Saturday - Sunday</p>
              <p class="schedul__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list">
            <li class="contact__item">
              <a href="tel:+610383766284" class="contact__link">
                <span class="contact__text">+61(0) 383 766 284 </span>
              </a>
            </li>
            <li class="contact__item">
              <a href="mailto:noreply@envato.com" class="contact__link">
                <span class="contact__text"> noreply@envato.com</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="representation__item">
        <div class="representation__card">
          <a href="" class="representation__link">
            <span class="representation__name">FOOD TRUCK</span>
          </a>
          <h2 class="representation__region">Los Angeles</h2>
          <p class="representation__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="schedul__list">
            <li class="schedul__item">
              <p class="schedul__days">Monday - Friday</p>
              <p class="schedul__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedul__item">
              <p p class="schedul__days">Saturday - Sunday</p>
              <p class="schedul__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list">
            <li class="contact__item">
              <a href="tel:+610383766284" class="contact__link">
                <span class="contact__text">+61(0) 383 766 284 </span>
              </a>
            </li>
            <li class="contact__item">
              <a href="mailto:noreply@envato.com" class="contact__link">
                <span class="contact__text"> noreply@envato.com</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="representation__item">
        <div class="representation__card">
          <a href="" class="representation__link">
            <span class="representation__name">CAFE</span>
          </a>
          <h2 class="representation__region">New York</h2>
          <p class="representation__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="schedul__list">
            <li class="schedul__item">
              <p class="schedul__days">Monday - Friday</p>
              <p>06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedul__item">
              <p p class="schedul__days">Saturday - Sunday</p>
              <p class="schedul__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contact__list">
            <li>
              <a href="tel:+610383766284" class="contact__link">
                <span class="contact__text">+61(0) 383 766 284 </span>
              </a>
            </li>
            <li class="contact__item">
              <a href="mailto:noreply@envato.com" class="contact__link">
                <span class="contact__text"> noreply@envato.com</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <ul>
      <li>
        <button type="button">Our Locations</button>
      </li>
      <li>
        <button type="button">Franchise</button>
      </li>
    </ul>
  </div>
</section>
