<section class="customer-reviews">
<div class="container">
    <div class="autoplay">
    <div class="customer-reviews__slide">

        <img 
        class="customer-reviews__foto" 
        srcset="./images/customer_reviews_img/girl1-1x-desk.jpg 1x, 
        ./images/customer_reviews_img/girl1-2x-desk.jpg 2x"
        src="./images/customer_reviews_img/girl1-1x-desk.jpg" width="85" alt="foto" />

       <div class="customer-reviews__bg">
           <p class="customer-reviews__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
            In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
        </p>
     </div>
        <h3 class="customer-reviews__name">Emily, Los Angeles</h3>
    </div>
    <div class="customer-reviews__slide">

        <img 
        class="customer-reviews__foto" 
        srcset="./images/customer_reviews_img/girl2-1x.jpg 1x, 
                ./images/customer_reviews_img/girl2-2x.jpg 2x" 
        src="./images/customer_reviews_img/girl2-1x.jpg"
            width="85" alt="foto" />

        <div class="customer-reviews__bg">
        <p class="customer-reviews__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
            In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
            <h3 class="customer-reviews__name">Emily, Los Angeles
        </h3>
    </div>
    <div class="customer-reviews__slide">
      
        <img class="customer-reviews__foto" 
        srcset="./images/customer_reviews_img/girl3-1x.jpg 1x, 
                ./images/customer_reviews_img/girl3-2x.jpg 2x" 
                src="./images/customer_reviews_img/girl3-1x.jpg"
            width="85" alt="foto" />

        <div class="customer-reviews__bg">
        <p class="customer-reviews__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
            In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risusooo.</p>
        </div>
        <h3 class="customer-reviews__name">Emily, Los Angeles</h3>
    </div>
</div>
</div>
</section>
