<footer class="footer">
	<div class="container footer__main">
		<div class="footer__left">
		<p class="footer__title">
			Homemade ice cream made
		</p>
		<p class="footer__pre-title">With passion</p>
		</div>
		<div class="footer__right">
		<ul class="footer__list list">
			<li class="footer__item">
				<a href="https://github.com" target="_blank" class="footer__link">
					<svg class="footer__social-icon" width="20" height="20">
					  <use href="./images/footer_img/symbol-defs.svg#icon-github"></use>
					</svg>
				 </a>
				
			</li>
			<li class="footer__item">
				<a href="https://web.telegram.org" target="_blank" class="footer__link">
					<svg class="footer__social-icon" width="20" height="16">
					  <use href="./images/footer_img/symbol-defs.svg#icon-telegram"></use>
					</svg>
				 </a>
			</li>
			<li class="footer__item">
				<a href="https://uk-ua.facebook.com" target="_blank" class="footer__link">
					<svg class="footer__social-icon" width="19" height="19">
					  <use href="./images/footer_img/symbol-defs.svg#icon-facebook"></use>
					</svg>
				 </a>
			</li>
		</ul>
		<p class="footer__tel-txt">
			Feel free to contact 
			<a class="footer__tel no-link" href="tel:+610383766284"> +61 (0) 383 766 284</a>
		</p>
		</div>
	</div>
	<div class="footer__copyright">
		<div class="container">
		<p class="footer__reserved">© 2019 - IceCream.
			All Rights Reserved. </p>
		</div>
		</div>
</footer>