<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__body">
      <div class="gallery__items gallery__item-1">
        <img
          class="gallery__image"
          srcset="./images/gallery_img/gal_img1.jpg 1x, ./images/gallery_img/gal_img1@2x.jpg 2x"
          src="./images/gallery_img/gal_img1.jpg"
          width="145"
          alt="ice cream in a bowl"
        />
      </div>
      <div class="gallery__items gallery__item-2">
        <img
          class="gallery__image"
          srcset="./images/gallery_img/gal_img2.jpg 1x, ./images/gallery_img/gal_img2@2x.jpg 2x"
          src="./images/gallery_img/gal_img2.jpg"
          width="145"
          alt="ice cream in hand"
        />
      </div>
      <div class="gallery__items gallery__item-3">
        <img
          class="gallery__image"
          srcset="./images/gallery_img/gal_img3.jpg 1x, ./images/gallery_img/gal_img3@2x.jpg 2x"
          src="./images/gallery_img/gal_img3.jpg"
          width="145"
          alt="ice lolly"
        />
      </div>
      <div class="gallery__items gallery__item-4">
        <img
          class="gallery__image"
          srcset="./images/gallery_img/gal_img4.jpg 1x, ./images/gallery_img/gal_img4@2x.jpg 2x"
          src="./images/gallery_img/gal_img4.jpg"
          width="290"
          alt="ice cream in cups"
        />
      </div>
      <div class="gallery__items gallery__item-5">
        <img
          class="gallery__image"
          srcset="./images/gallery_img/gal_img5.jpg 1x, ./images/gallery_img/gal_img5@2x.jpg 2x"
          src="./images/gallery_img/gal_img5.jpg"
          width="145"
          alt="girl eating ice cream"
        />
      </div>
      <div class="gallery__items gallery__item-6">
        <img
          class="gallery__image"
          srcset="./images/gallery_img/gal_img6.jpg 1x, ./images/gallery_img/gal_img6@2x.jpg 2x"
          src="./images/gallery_img/gal_img6.jpg"
          width="145"
          alt="ice cream decorated with berries"
        />
      </div>
      <div class="gallery__items gallery__item-7">
        <img
          class="gallery__image"
          srcset="./images/gallery_img/gal_img7.jpg 1x, ./images/gallery_img/gal_img7@2x.jpg 2x"
          src="./images/gallery_img/gal_img7.jpg"
          width="145"
          alt="ice cream in hand"
        />
      </div>
      <div class="gallery__items gallery__item-8">
        <img
          class="gallery__image"
          srcset="./images/gallery_img/gal_img8.jpg 1x, ./images/gallery_img/gal_img8@2x.jpg 2x"
          src="./images/gallery_img/gal_img8.jpg"
          width="145"
          alt="dog eats ice cream"
        />
      </div>
      <div class="gallery__items gallery__item-9">
        <img
          class="gallery__image"
          srcset="./images/gallery_img/gal_img9.jpg 1x, ./images/gallery_img/gal_img9@2x.jpg 2x"
          src="./images/gallery_img/gal_img9.jpg"
          width="145"
          alt="glass with cocktail"
        />
      </div>
      <div class="gallery__items gallery__item-10">
        <img
          class="gallery__image"
          srcset="./images/gallery_img/gal_img10.jpg 1x, ./images/gallery_img/gal_img10@2x.jpg 2x"
          src="./images/gallery_img/gal_img10.jpg"
          width="145"
          alt="cream cake"
        />
      </div>
    </div>
  </div>
</section>
