<section class="gallery gallery__bg">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__body">
      <div class="gallery__item">
        <img src="" alt="" />
      </div>
      <div class="gallery__item">
        <img src="" alt="" />
      </div>
      <div class="gallery__item">
        <img src="" alt="" />
      </div>
      <div class="gallery__item">
        <img src="" alt="" />
      </div>
      <div class="gallery__item">
        <img src="" alt="" />
      </div>
      <div class="gallery__item">
        <img src="" alt="" />
      </div>
      <div class="gallery__item">
        <img src="" alt="" />
      </div>
      <div class="gallery__item">
        <img src="" alt="" />
      </div>
      <div class="gallery__item">
        <img src="" alt="" />
      </div>
      <div class="gallery__item">
        <img src="" alt="" />
      </div>
    </div>
  </div>
</section>
