<div class="container container__header">
    <nav class="site-nav">
        
        <a class="logo header__logo" href="/"><svg class="logo" width="199" height="50" aria-label="Logo Ice cream">
            <use class="logo__icon" href="./images/Hero_header_img/logo.svg"></use>
            </svg>
        </a>

        <!-- <button type="button" class="site-nav__button" aria-expanded="false" aria-controls="menu" data-menu-button> -->
            <!-- <svg class="site-nav__icon" aria-label="Переключатель мобильного меню">
                <use class="site-nav__icon-cross" href=""></use>
                <use class="site-nav__icon-menu" href=""></use>
            </svg> -->
        </button>
    </nav>
    <!-- <div class="menu" id="menu" data-menu> -->
        <button type="button" class="hero__button">Buy now</button>
        <ul class="nav-box">
            <li class="nav-box__item list"><a class="nav-box__link no-link nav-box-link__active" href="">Home</a>
            </li>
            <li class="nav-box__item list"><a class="nav-box__link no-link" href=" ">About us</a>
            </li>
            <li class="nav-box__item list"><a class="nav-box__link no-link" href=" ">How it’s made?</a>
            </li>
            <li class="nav-box__item list"><a class="nav-box__link no-link" href=" ">Our products</a>
            </li>
            <li class="nav-box__item list"><a class="nav-box__link no-link" href=" ">Contact</a>
            </li>
        </ul>
    </div>
</div>