<div class="header-hero">
    <header class="container header">
        <div class="logo">
            <img src="./images/hero_header_img/logo.png" alt="" class="logo__icon">
            <p class="logo__text">icecream</p>
        </div>

        <nav> 
        <ul class="navigation">
            <li class="navigation__item navigation__item--current-page">Home</li>
            <li class="navigation__item">About us</li>
            <li class="navigation__item">How it’s made?</li>
            <li class="navigation__item">Our products</li>
            <li class="navigation__item">Contact</li>
        </ul>
        </nav>

        <button type="button" class="header-btn">
            Buy now 
            <svg class="header-btn__icon">
                <use href="./images/sprite_img/symbol-defs-min.svg#icon-right-sign">
                </use>
            </svg>
        </button>
    </header>

    <section class="container hero">

    <div>

    <h1 class="hero-title">
        ice cream
        <br>made with<br>
        <span class="hero-title--alternative">passion</span>
    </h1>

    <button type="button" class="hero-btn">Products</button>

    <button type="button" class="hero-btn hero-btn--alternative">How it’s made?</button>

    <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>

    <button type="button" class="extra-button">
        <svg>
            <use href="./images/sprite_img/symbol-defs-min.svg#icon-right-arrow">
            </use>
        </svg>
    </button>

    </div>

    <div>
        <ul>
            <li>16<span>cafes</span></li>
            <li>23<span>food trucks</span></li>
        </ul>
    </div>

    </section>
</div>


<!-- <div class="container container__header">
    <nav class="site-nav">
        
        <a class="logo header__logo" href="/"><svg class="logo" width="199" height="50" aria-label="Logo Ice cream">
            <use class="logo__icon" href="./images/hero_header_img/logo.svg"></use>
            </svg>
        </a>

        <button type="button" class="site-nav__button" aria-expanded="false" aria-controls="menu" data-menu-button>
            <svg class="site-nav__icon" aria-label="Переключатель мобильного меню">
                <use class="site-nav__icon-cross" href=""></use>
                <use class="site-nav__icon-menu" href=""></use>
            </svg>
        </button>
    </nav>
    <div class="menu" id="menu" data-menu>
        <button type="button" class="hero__button">Buy now</button>
        <ul class="nav-box">
            <li class="nav-box__item list"><a class="nav-box__link no-link nav-box-link__active" href="">Home</a>
            </li>
            <li class="nav-box__item list"><a class="nav-box__link no-link" href=" ">About us</a>
            </li>
            <li class="nav-box__item list"><a class="nav-box__link no-link" href=" ">How it’s made?</a>
            </li>
            <li class="nav-box__item list"><a class="nav-box__link no-link" href=" ">Our products</a>
            </li>
            <li class="nav-box__item list"><a class="nav-box__link no-link" href=" ">Contact</a>
            </li>
        </ul>
    </div>
</div> -->
