
<div class=“header-hero” id=“header-hero”>
    <header class=“container header”>
        <!-- <div class=“mobile-menu”>
            <button></button>
            <button></button>
            <ul>
                <li><a href=“#header-hero”>Home</a></li>
                <li><a href=“#contacts”>About us</a></li>
                <li><a href=“#about”>How it’s made?</a></li>
                <li><a href=“#products”>Our products</a></li>
                <li><a href=“#footer”>Contact</a></li>
            </ul>
        </div> -->
        <div class=“logo”>
            <img src=“./images/hero_header_img/logo.png” alt=“icecream logo” class=“logo__icon”>
            <p class=“logo__text”>icecream</p>
        </div>
        <!-- <button type=“button” class=“menu-btn” data-menu-open>
            <svg class=“menu-btn__icon”>
                <use href=“./images/sprite_img/symbol-defs-min.svg#icon-burger”>
                </use>
            </svg>
        </button> -->
        <nav>
            <ul class=“navigation”>
                <li class=“navigation__item”><a href=“#header-hero” class=“navigation__link navigation__link--current-page”>Home</a></li>
                <li class=“navigation__item”><a href=“#contacts” class=“navigation__link”>About us</a></li>
                <li class=“navigation__item”><a href=“#about” class=“navigation__link”>How it’s made?</a></li>
                <li class=“navigation__item”><a href=“#products” class=“navigation__link”>Our products</a></li>
                <li class=“navigation__item”><a href=“#footer” class=“navigation__link”>Contact</a></li>
            </ul>
        </nav>
        <button type=“button” class=“header-btn”>
            Buy now
            <svg class=“header-btn__icon”>
                <use href=“./images/sprite_img/symbol-defs-min.svg#icon-right-sign”>
                </use>
            </svg>
        </button>
    </header>
    <section class=“container hero”>
        <div class=“icecream-pic”>
        </div>
        <div>
            <h1 class=“hero-title”>
                ice cream
                <br>made with<br>
                <span class=“hero-title--alternative”>passion</span>
            </h1>
            <ul class=“hero-list”>
                <li class=“hero-list__item”><a href=“#products” class=“hero-list__link”>Products</a></li>
                <li class=“hero-list__item”><a href=“#about” class=“hero-list__link hero-list__link--alternative”>How it’s made?</a></li>
            </ul>
            <div class=“hero-container”>
                <p class=“hero-text”>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type=“button” class=“hero-btn”>
                        <svg class=“hero-btn__icon”>
                            <use href=“./images/sprite_img/symbol-defs-min.svg#icon-right-arrow”>
                            </use>
                        </svg>
                </button>
            </div>
        </div>
        <div>
            <ul class=“extra-list”>
                <li class=“extra-list__item”>16<span class=“extra-list__text”>cafes</span></li>
                <li class=“extra-list__item”>23<span class=“extra-list__text”>food trucks</span></li>
            </ul>
        </div>
        <div class=“lady-pic”>
        </div>
    </section>
</div>