
.about {
    background-color: var(--secondary-bg-color);
    padding-top: 125px;
    padding-bottom: 39px;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width: 768px) {
        padding-top: 130px;
        padding-bottom: 66px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 125px;
        padding-bottom: 39px;
    }


}
.about-bg {
    @media screen and (max-width: 767px) {
        background: url(../images/about_img/about-bg-left-tel.png) no-repeat left (bottom 100px), url(../images/about_img/about-bg-right-tel.png) no-repeat (bottom 100px) right ;
        background-color: var(--secondary-bg-color);
        
    }


    background-color: var(--secondary-bg-color);
    @media screen and (min-width: 1200px) {
        background: url(../images/about_img/about-bg-left-desk.png) no-repeat left bottom, url(../images/about_img/about-bg-right-desk.png) no-repeat bottom right ;
        background-color: var(--secondary-bg-color);
    }
}

.pretitle {
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 16px;
    }
}

.title {
    margin-bottom: 26px;

    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 55px;
    }
}
.about-content {
    @media screen and (min-width: 768px) {
        display: flex;
    }

}

.about-image {
    @media screen and (min-width: 768px) {
        width: 340px;
        height: 340px;
        margin-right: 17px;
    }

    @media screen and (min-width: 1200px) {
        width: 516px;
        height: 516px;
        margin-right: 74px;
    }
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-image:hover {
    transform: scale(1.2);
}


.about-text {
    @media screen and (min-width: 768px) {
        width: 340px;
        padding-top: 50px;
    }

    @media screen and (min-width: 1200px) {
        width: 463px;
        padding-top: 50px;
        padding-left: auto;
    }
}

.about-text__first {
    color: var(--primary-text-color);
    margin: 45px 30px;
    @media screen and (min-width: 768px) {
        margin: 0;
        margin-bottom: 25px;
    }
    @media screen and (min-width: 1200px) {
        margin: 0;
        margin-bottom: 35px;
    }

}

.about-text__second {
    color: var(--third-text-color);
    margin: 0 30px 45px 30px;

    @media screen and (min-width: 768px) {
        margin: 0;
        margin-bottom: 62px;
    }
    @media screen and (min-width: 1200px) {
        margin: 0;
        margin-bottom: 45px;
    }
    
}

.about-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 2.75;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 37px;
    color: var(--first-logo-color);
    background: #FFFFFF;
    border-radius: 22px;
    border: none;

    @media screen and (max-width: 767px) {
        margin-left: 30px;
    }
    &:hover,
    &:focus {
      box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
      background-color: #ecebeb;
    }
}

.about-btn__icon {
fill: currentColor;
    margin-left: 10px;
}



.about-modal {
    background-color: var(--secondary-logo-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 600px;
    max-height: 400px;
    padding: 20px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
    width: 60vw;
    height: 90vh;

    .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.2);
    transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1),
    250ms -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
    }
   
    @media screen and (min-width: 768px) {
        width: 700px;
        height: 450px;
    }
    
    @media screen and (min-width: 1280px) {
        max-width: 1000px;
        max-height: 700px;
    }
    overflow-y: auto;
}



.modal-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D41443;
    margin-bottom: 20px;
}

