// .container {
//   @media screen and (min-width: 320px) {
//     width: 320px;
//   }
// }

.contacts {
  background-image: linear-gradient(
    to bottom,
    var(--secondary-logo-color) 8.3%,
    var(--secondary-bg-color) 8.3%
  );
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      var(--secondary-logo-color) 18%,
      var(--secondary-bg-color) 18%
    );
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/contacts_img/contacts-bg.png),
      linear-gradient(
        to bottom,
        var(--secondary-logo-color) 0 165px,
        var(--secondary-bg-color) 165px
      );
    background-position: top 150px center, center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.contacts-main {
  padding-top: 45px;
  padding-bottom: 55px;
  max-width: 320px;

  @media screen and (min-width: 768px) {
    max-width: 812px;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1280px) {
  }
}

// .overlay {
//   height: 382px;
//   @media screen and (min-width: 1280px) {
//     background-image: url(../src/images/Contacts_img/sectionbg-dots-1x-1280-min.png);

//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     flex-grow: 1;

//     // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     //   background-image: url(../src/images/contacts_img/sectionbg_pink_dots.svg);
//     // }
//   }
// }
// .main__overlay {
//   margin-left: auto;
//   margin-right: auto;
// }

.representation__card {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 43px 21px 43px 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  // max-width: 100 vw;
  @media screen and (min-width: 768px) {
    padding: 50px 32px 50px 31px;
  }
  @media screen and (min-width: 1280px) {
    padding: 51px 44px 62px 43px;
  }

  // background-image: linear-gradient(
  //   to bottom,
  //   transparent 0 201px,
  //   #e1e1e1 201px 202px,
  //   transparent 202px 349px,
  //   #e1e1e1 349px 350px,
  //   transparent 350px
  // );
  // @media screen and (min-width: 768px) {
  //   background-image: linear-gradient(
  //     to bottom,
  //     transparent 0 245px,
  //     #e1e1e1 245px 246px,
  //     transparent 246px 425px,
  //     #e1e1e1 425px 426px,
  //     transparent 426px
  //   );
  // }
  // @media screen and (min-width: 1280px) {
  //   background-image: linear-gradient(
  //     to bottom,
  //     transparent 0 239px,
  //     #e1e1e1 239px 240px,
  //     transparent 240px 434px,
  //     #e1e1e1 434px 435px,
  //     transparent 435px
  //   );
  // }
}
.representation__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  --card-item: 1;

  @media screen and (min-width: 768px) {
    // flex-basis: calc((100% - 40px) / 3);
    // margin-bottom: 0;
    // &:not(:last-child) {
    //   margin-right: 20px;
    // }
    font-size: 14px;
    --card-item: 3;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.representation__link {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32pxpx;
  }
}
.representation__region {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;

  color: var(--primary-text-color);
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.representation__description {
  line-height: 1.5;
  color: var(--third-text-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.66;
    margin-bottom: 60px;
    max-width: none;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.83;
    margin-bottom: 64 px;
  }
}
.schedul__item {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    background: repeating-linear-gradient(
      0deg,
      transparent 0 233px,
      #e1e1e1 233px 234px,
      transparent 234px 429px,
      #e1e1e1 429px 430px
    );
  }
}
.schedul__list {
  margin-bottom: 25pxpx;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 64px;
  }
}
.representation__list {
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    display: flex;
    max-width: none;
    --card-gap: 20px;
    // margin-top: -20px;
    // margin-left: -20px;

    // flex-wrap: wrap;
  }
  @media screen and (min-width: 1280px) {
    --card-gap: 30px;
  }
}

.representation__name {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #f0d1a5;
  color: var(--secondary-logo-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0 30px;
  @media screen and (min-width: 768px) {
    padding: 0 15px;
    font-size: 16px;
  }
}

.representation__item:nth-child(2n) {
  .representation__name {
    background-color: #c2e297;
  }
}
.schedul__days {
  color: var(--primary-text-color);
}
.schedul__time {
  color: var(--third-logo-color);
}
// .contact__item {
//   @media screen and (min-width: 768px) {
//     line-height: 1.83;
//   }
// }
.contact__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: var(--third-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.83;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.representation__button-block {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.button-block__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    &:not(:last-child) {
      margin-right: 14.5px;
    }
  }
}
// .representation__button-block {
//   margin-left: auto;
//   margin-right: auto;
// }
.primary-btn {
  display: inline-block;
  font-size: 16px;
  line-height: 2.75;
  font-weight: 700;
  padding: 0 15px;
  border-radius: 22px;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 160px;
  border: 0px solid transparent;

  background-color: #d41342;
  color: var(--secondary-logo-color);
  align-items: center;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
    background-color: #ecebeb;
    color: #d41342;
  }
  &__send {
    fill: var(--secondary-logo-color);

    margin-left: 8px;
  }
}
.primary-btn--invert {
  display: inline-block;
  font-size: 16px;
  line-height: 2.75;
  font-weight: 700;
  padding: 0 30px;
  border-radius: 22px;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 160px;
  border: 0px solid transparent;
  background-color: var(--secondary-logo-color);
  color: var(--first-logo-color);
  align-items: center;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
    background-color: #ecebeb;
  }
  &__send {
    fill: var(--first-logo-color);
    margin-left: 15px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 245, 246, 0.5);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  background-color: var(--secondary-logo-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  max-width: 400px;
  max-height: 600px;
  padding: 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
  width: 90vw;
  height: 90vh;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) rotate(0deg) scale(0.5);
  }
  // @media screen and (min-width: 450px) {
  //   width: 400px;
  //   height: 600px;
  // }

  // @media screen and (min-width: 1280px) {
  //   width: 550px;
  //   height: 650px;
  // }
}
modal-map {
  height: 600px;
}
