.contacts {
  padding-top: 45px;
  padding-bottom: 55px;
  background-image: linear-gradient(
    to bottom,
    var(--secondary-logo-color) 8.3%,
    var(--secondary-bg-color) 8.3%
  );
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 80px;

    background-image: linear-gradient(
      to bottom,
      var(--secondary-logo-color) 18%,
      var(--secondary-bg-color) 18%
    );
  }
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url(../images/contacts_img/contacts-bg.png),
      linear-gradient(
        to bottom,
        var(--secondary-logo-color) 0 165px,
        var(--secondary-bg-color) 165px
      );
    background-position: top 150px center, center;
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/contacts_img/contacts-bg-2x.png),
        linear-gradient(
          to bottom,
          var(--secondary-logo-color) 0 165px,
          var(--secondary-bg-color) 165px
        );
    }
  }
}
.web {
  .contacts {
    @media screen and (min-width: 1280px) {
      padding-top: 60px;
      padding-bottom: 80px;
      background-image: url(../images/contacts_img/contacrs-bg-1x.webp),
        linear-gradient(
          to bottom,
          var(--secondary-logo-color) 0 165px,
          var(--secondary-bg-color) 165px
        );
      background-position: top 150px center, center;
      background-size: contain;
      background-repeat: no-repeat;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/contacts_img/contacrs-bg-2x.webp),
          linear-gradient(
            to bottom,
            var(--secondary-logo-color) 0 165px,
            var(--secondary-bg-color) 165px
          );
      }
    }
  }
}

.representation {
  &__card {
    background-color: #ffffff;
    border-radius: 24px;
    padding: 43px 21px 43px 20px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    @media screen and (min-width: 768px) {
      padding: 50px 32px 50px 31px;
    }
    @media screen and (min-width: 1280px) {
      padding: 51px 44px 62px 43px;
    }
  }
  &__item {
    @media screen and (min-width: 768px) {
      font-size: 14px;
      --card-item: 3;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
  &__link {
    margin-bottom: 25px;
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      &:hover,
      &:focus {
        transform: translate(22px, 0px) scale(1.3);
        transition: fill var(--animation-duration) var(--animation-timing-function);
      }
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 32pxpx;
    }
  }
  &__region {
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      margin-bottom: 14px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 10px;
    }
  }
  &__description {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      padding-bottom: 30px;
      max-width: none;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
      padding-bottom: 32px;
    }
  }
  &__list {
    margin-bottom: 54px;

    @media screen and (min-width: 768px) {
      display: flex;
      max-width: none;
      --card-gap: 20px;
    }
    @media screen and (min-width: 1280px) {
      --card-gap: 30px;
    }
  }
  &__name {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: var(--second-card);
    color: var(--secondary-logo-color);
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0 30px;
    @media screen and (max-width: 480px) {
      padding: 0 10px;
    }
    @media screen and (min-width: 768px) {
      padding: 0 15px;
      font-size: 16px;
    }
  }
}

.representation__item:nth-child(2n) {
  .representation__name {
    background-color: var(--third-card);
  }
}

.modal-franchise__agreement .text-description {
  overflow: hidden;
  max-height: 148px;
  @media screen and (min-width: 768px) {
    max-height: 120px;
  }
  @media screen and (min-width: 1280px) {
    max-height: 150px;
  }
}

.schedul {
  &__list {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
      padding-bottom: 32px;
    }
  }
  &__days {
    color: var(--primary-text-color);
  }
  &__time {
    color: var(--third-logo-color);
  }
}

.contact__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: var(--third-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.83;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.representation__button-block {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  text-align: center;
  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-direction: row;
  }
}
.button-block__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    &:not(:last-child) {
      margin-right: 14.5px;
    }
  }
}

.modal {
  background-color: var(--secondary-logo-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  transition: transform var(--animation-duration) var(--animation-timing-function);
  max-width: 600px;
  max-height: 400px;
  padding: 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
  width: 90vw;
  height: 90vh;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) rotate(0deg) scale(0.5);
    transition: transform var(--animation-duration) var(--animation-timing-function);
  }

  @media screen and (min-width: 768px) {
    width: 700px;
    height: 450px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1000px;
    max-height: 700px;
  }
  &__icon {
    transition: fill var(--animation-duration) var(--animation-timing-function);
  }
  &__close {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: 1px solid var(--secondary-bg-color);
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--secondary-logo-color);
    fill: var(--first-logo-color);
    top: 8px;
    right: 8px;
    border-color: transparent;
    padding: 0px;
    &:hover,
    &:focus {
      fill: var(--secondary-logo-color);
      cursor: pointer;
      outline: 1px solid var(--secondary-logo-color);
      background-color: var(--first-logo-color);
    }
    transition: background-color var(--animation-duration) var(--animation-timing-function);
  }
}

.modal-map {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  &__client-location {
    margin-bottom: 10px;
  }
  &__client {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    z-index: 100;

    box-shadow: 0px 8px 30px var(--secondary-logo-color);
    &:hover,
    &:focus {
      box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.2);
    }
  }
}

.modal-map__client-location {
  height: 30%;
  position: relative;
}

.modal-franchise__link {
  color: var(--first-logo-color);
  text-align: end;
}
.modal-franchise__link .text-main {
  color: var(--first-logo-color);
}
.form-registration {
  &__input {
    display: block;
    border-width: 2px;
    width: 100%;
    height: 30px;
    padding-left: 36px;
    padding-right: 12px;
    border-radius: 4px;
    border-color: var(--third-logo-color);
    outline: none;
    &:focus,
    &:not(:placeholder-shown) {
      cursor: pointer;
      border-color: var(--first-logo-color);
    }

    .form-registration__wrap-input:hover &,
    .form-registration__wrap-input:focus & {
      cursor: pointer;
      border-color: var(--first-logo-color);
    }
  }
  &__wrap-input {
    position: relative;
    overflow: hidden;
    outline: none;
  }
  &__label {
    display: block;
    text-align: left;
  }
}
.form-registration____field:not(:last-child) {
  margin-bottom: 10px;
}
.form-registration__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--third-logo-color);
  transition: fill var(--animation-duration) var(--animation-timing-function);

  .form-registration__input:focus + &,
  .form-registration__input:not(:placeholder-shown) + & {
    fill: var(--first-logo-color);
  }

  .form-registration__wrap-input:hover &,
  .form-registration__wrap-input:focus & {
    fill: var(--first-logo-color);
    cursor: pointer;
  }

  &--displacement {
    left: 8px;
  }
}

.form-registration .primary-btn {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 15px;
  }
}

.map {
  transform: scale(1);
  transition: transform var(--animation-duration) var(--animation-timing-function);

  &:hover,
  &:focus {
    transform: scale(1.05);
    transition: transform var(--animation-duration) var(--animation-timing-function);
  }
}
