// .container {
//   height: 100vh;
//   // width: 1200px;
//   //   position: relative;

//   //   padding: 0px 15px;
//   margin-left: auto;
//   margin-right: auto;

//   @media screen and (min-width: 320px) {
//     width: 320px;
//   }
//   @media screen and (min-width: 772px) {
//     width: 772px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 1280px;
//   }
// }
.contacts {
  background-image: linear-gradient(
    to bottom,
    var(--secondary-logo-color) 23%,
    var(--secondary-bg-color) 23%
  );
}
.representation__card {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 43px 21px 43px 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  max-width: 100 vw;
}
.representation__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.representation__link {
  margin-bottom: 25px;
}
.representation__region {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;

  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.representation__description {
  line-height: 1.5;
  color: var(--third-text-color);
  margin-bottom: 50px;
  max-width: 179px;
}
.schedul__item {
  margin-bottom: 10px;
}
.schedul__list {
  margin-bottom: 50px;
}
.representation__list {
  margin-bottom: 54px;
}
.representation__name {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #f0d1a5;
  color: var(--secondary-logo-color);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0 30px;
}

.representation__item:nth-child(2n) {
  .representation__name {
    background-color: #c2e297;
  }
}
.schedul__days {
  color: var(--primary-text-color);
}
.schedul__time {
  color: var(--third-logo-color);
}
.contact__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  color: var(--third-text-color);
}

// .primary-button {
//   display: inline-block;
//   // @include fonts($white-color, 700, 16px, 1.88, 0.06em);
//   padding: 10px 32px;
//   border-radius: 4px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   min-width: 200px;
//   border: 0px solid transparent;
//   // color: white-color;
//   background-color: $accent-color;
//   cursor: pointer;

//   &:hover {
//     background-color: #188ce8;
//   }
//   &__send {
//     fill: $white-color;
//     @media screen and (max-width: 1199px) {
//       margin-left: 10px;
//     }
//   }
// }
