.customer-reviews {
  padding-top: 40px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 65px;
  }
  &__bg {
    background-color: #fafafa;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../images/customer_reviews_img/lapky.svg);
    background-repeat: no-repeat;
    background-size: 54px 40px;
    background-position: top 28px left 61px;
    @media screen and (min-width: 768px) {
      padding-left: 74px;
      padding-right: 74px;
      background-position: top 30px left 40px;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 178px;
      padding-right: 176px;
      background-position: top 32px left 50px;
    }
  }

  &__slide {
    text-align: center;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__foto {
    width: 85px;
    height: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
    @media screen and (min-width: 768px) {
      margin-bottom: 19px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    width: 157px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 43px;
    margin-bottom: 26px;
    background-image: repeating-linear-gradient(0deg, #e1e1e1 0 1px, transparent 1px 31px);
    @media screen and (min-width: 768px) {
      width: 544px;
      margin-top: 47px;
      margin-bottom: 34px;
    }
    @media screen and (min-width: 1280px) {
      width: 926px;
      margin-top: 47px;
      margin-bottom: 39px;
    }
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;

    &::before {
      display: block;
      margin-right: auto;
      margin-left: auto;
      content: '';
      width: 32px;
      height: 4px;
      margin-bottom: 15px;
      margin-top: 54px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/customer_reviews_img/group.svg);
    }
  }
}

.autoplay {
  .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;

    li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #d9d9d9;
      &:not(:last-child) {
        margin-right: 18px;
      }
      &.slick-active {
        background-color: transparent;
        background-image: url(../images/customer_reviews_img/home_dot.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 0;
      }
    }
    button {
      color: transparent;
      background-color: transparent;
      border: none;
      outline: none;
      width: 12px;
      height: 12px;
    }
  }
}
