.gallery {
  background-image: linear-gradient(
    to bottom,
    var(--secondary-bg-color) 40%,
    var(--primary-bg-color) 40%
  );
  &__body {
    display: grid;
  }

  &__image {
    border-radius: 20px;
  }
}
