.hero__button {
    display: inline-block;
    border: transparent;
    border-radius: 22px;
    padding: 10px 48px;
    text-align: center;
    color: var(--first-logo-color);
    background-color: var(--primary-bg-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.31;
    text-decoration: none;
    

    @media screen and (max-width: 1199px) {
        margin-top: 50px;
        margin-bottom: 32px;
        min-width: 209px;
    }

     @media screen and (min-width: 1200px) {
       padding: 10px 45px;
    }
}

.header {
    background-color: var(--hero-bg-color);

    @media screen and (max-width: 1199px) {
        position: relative;
    }
}

.logo {
    z-index: 20;

}

.container__header {
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.site-nav {
    
    @media screen and (max-width: 1199px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }
}

.site-nav__button {
    display: none;

    @media screen and (max-width: 1199px) {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        margin-bottom: 32px;
        // transform: rotate(-90deg);

        & .site-nav__icon-cross {
            display: none;
        }

        &.is-open .site-nav__icon-cross {
            display: block;
        }

        &.is-open .site-nav__icon-menu {
            display: none;
        }
    }
}

.site-nav__icon {
    z-index: 3;
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 0;
}

.menu {
    z-index: 1;
    

    @media (min-width: 320px) and (max-width: 1199px) {
        // display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: 0;
        top: 0;
        background-color: #E17992;
        padding: 20px;
        font-size: 14px;
        line-height: 1.29;

        transform: translateX(100%);
        transition: transform 250ms var(--animation-timing-function);

        &.is-open {
            // display: block;
            transform: translateX(0);
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        height: 100vh;
        background-color: #E17992;
        width: 35%;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        flex-grow: 1;
        padding: 24px;
    }
}



.nav-box {
    

        @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        align-content: center;
    }
}

.nav-box__item {
    @media screen and (max-width: 1199px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-left: auto;

        &:not(:last-child) {
            margin-right: 35px;
        }
    }
}

.nav-box__link {
    text-decoration: none;
    position: relative;
    color: var(--secondary-text-color);
    
    transition: color 250ms var(--animation-timing-function);

    &:hover,
    &:focus {
        color: var(--first-logo-color);
    }

    @media screen and (min-width: 1200px) {
        display: block;
        font-size: 16px;
        line-height: 1.31;
    }
}

.nav-box-link__active {
    color: var(--first-logo-color);
}