
.header-hero{
    background-color: var(--hero-bg-color);
    // position: relative;
    overflow: hidden;

}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
    z-index: 999;

    @media screen and(min-width:768px) {
    padding-top: 38px;
}

}


.logo{

    display: flex;
    align-items: center;
    z-index: 2;

    @media screen and (min-width:1280px) {
    position: relative;}

    &__text{

        font-family: Titan One;
        font-weight: 400;
        font-size: 25px;
        line-height: 1.16;
        text-align: left;
        text-transform: uppercase;
        color: var(--first-logo-color);

        margin-left: 14px;

        @media screen and (min-width:1280px) {
        margin-left: 0;
    }

    }

    &__icon{
        width: 50px;
        height: 50px;

        @media screen and (min-width:1280px) {
            position: absolute;
            left: -67px;
        }

    }
}

.menu-btn{

    display: block;
    background-color: transparent;
    border:none;
    z-index: 999;

    &__icon{
        display: block;
        width: 20px;
        height: 12px;
    }

    @media screen and(min-width:768px) {
        margin-left: auto;
        margin-right: 30px;
    }

    @media screen and(min-width:1280px) {
    display: none;
}    
}

.header-btn{

    display: none;

    @media screen and (min-width:768px) {
        
        font-weight: bold;
        font-size: 16px;
        line-height: 2.75;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0 37px;
        color: var(--first-logo-color);
        background: #FFFFFF;
        border-radius: 22px;
        border: none;
        cursor: pointer;
        z-index: 2;


    &__icon{
        display: block;
        width: 4px;
        height: 8px;
        margin-left: 14px;
    }

    }
}        





.navigation{

    display: none;

    @media screen and (min-width:1280px) {
        

        list-style: none;
        display: flex;
        align-items: center;

    &__item{
        margin-right: 35px;
        z-index: 2;
    }

    &__link{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        color: var(--secondary-logo-color);
        text-decoration: none;
        z-index: 2;
    }

    &__link--current-page{
        color: var(--first-logo-color);
    }

    &__link:hover, &__link:focus{
        color: var(--first-logo-color);
    }

    &__item:last-child{
        margin-right: 0;
    }
        
    }
}

.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 137px;
    padding-bottom: 160px;


    position: relative;

    @media screen and(min-width:768px) {
        margin-top: 15px;
        padding-bottom: 34px;
    }

    @media screen and(min-width:1280px) {
        margin-top: 100px;
        padding-bottom: 56px;
    }

    &::before{
        content: '';
        display: block;
        min-width: 346px;
        min-height: 344px;
        border-radius: 344px;

        background-color: var(--third-logo-color);
        position: absolute;

        bottom: 75px;
        left: 36px;

        z-index: 0;

        @media screen and(min-width:768px) {
            min-width: 324px;
            min-height: 322px;
            border-radius: 322px;

            left: 307px;
            bottom: 46px;

        }

        @media screen and(min-width:1280px) {
            width: 538px;
            height: 538px;
            border-radius: 538px;
            left: 380px;
            bottom: 75px;
        }
    }

}

.hero-content{
    z-index: 999;
}


.hero-title{
    font-family: Titan One;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.14;

    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--secondary-logo-color);
    z-index: 999;

    @media screen and(min-width:768px) {
            font-size: 22px;
    }

    @media screen and(min-width:1280px) {
            font-size: 38px;
            line-height: 1.16;
    }



    &--alternative{
        font-size: 48px;
        
        line-height: 0.9;
        color: var(--first-logo-color);

        @media screen and(min-width:768px) {
            font-size: 37px;
        }

        @media screen and(min-width:1280px) {
            font-size: 58px;
        }
    }
}

.hero-list{

    
    display: flex;
    list-style: none;
    margin-top: 19px;

    @media screen and(min-width:768px) {
        margin-top: 20px;
    }

    @media screen and(min-width:1280px) {
        margin-top: 25px;
    }


                &__link{
                font-size: 8px;
                line-height: 1.3;

                font-weight: 400;
                padding: 10px 22px;
                border-radius: 22px;
                border: none;
                text-decoration: none;
    
                background-color: var(--first-logo-color);
                color: var(--secondary-logo-color);
                text-align: center;
                z-index: 2;

                @media screen and(min-width:1280px) {
                    font-size: 14px;
                    line-height: 1.28;
                }
            }
    
            &__link:hover, &__link:focus{
                background-color: var(--primary-btn-hover);
            }
    
            &__link--alternative{
                background-color: var(--secondary-logo-color);
                color: var(--first-logo-color);
            }
    
            &__link--alternative:hover, &__link--alternative:focus{
                background-color: #ecebeb;
                color: var(--first-logo-color);
            }
    
            &__item:first-child{
            
            margin-right: 8px;

            @media screen and(min-width:1200px) {
                margin-right: 15px;
            }
            }

}

  .hero-btn {  
    margin-top: 7px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;
    background-color: var(--secondary-logo-color);
    border-radius: 50px;
    border: none;
    cursor: pointer;

    @media screen and(min-width:1280px) {
        margin-top: 20px;
        margin-left: 180px;
        width: 26px;
        height: 26px;
    }

    &__icon{

        stroke: var(--first-logo-color);
        width: 6px;
        height: 6px;

        @media screen and(min-width:1280px) {
            width: 10px;
            height: 10px;
        }
    }
}

.hero-container{

    display: none;

    @media screen and(min-width:768px) {
    display: block;    
    position: relative;
    z-index: 999;
    }
}


.hero-text{
    display: block;

    max-width: 114px;

    font-size: 8px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--secondary-logo-color);

    margin-top: 66px;
    margin-left: 120px;

    @media screen and(min-width:1280px) {
        margin-top: 112px;
        margin-left: 180px;

        max-width: 200px;
        font-size: 14px;
        line-height: 1.4;
    }



    &::before{
        content: "";
        display: block;
        width: 124px;
        height: 126px;

        position: absolute;
        bottom: 0;
 
        left: 0;
        background-image: url(../images/hero_header_img/milk_tab.png);
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        
          background-image: 
          url(../images/hero_header_img/milk_tab_2x.png);
         }
    
         @media screen and (min-device-pixel-ratio: 3),
         screen and (min-resolution: 288dpi),
         screen and (min-resolution: 3dppx) {
         
           background-image: 
           url(../images/hero_header_img/milk_tab_3x.png);
          }
    

        @media screen and(min-width:1280px) {
            width: 188px;
            height: 191px;
            left: -30px;
            background-image: 
            url(../images/hero_header_img/milk_desk.png);

            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            
              background-image: 
              url(../images/hero_header_img/milk_desk_2x.png);
             }
        
             @media screen and (min-device-pixel-ratio: 3),
             screen and (min-resolution: 288dpi),
             screen and (min-resolution: 3dppx) {
             
               background-image: 
               url(../images/hero_header_img/milk_desk_3x.png);
              }

        }

    }
}



.extra-list{

    display: none;

    @media screen and(min-width:768px) {



    display: block;
    list-style: none;
    position: relative;

    &__item{

        font-family: Titan One;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.14;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--first-logo-color);
        z-index: 1;

        margin-bottom: 15px;

        position: relative;

        @media screen and(min-width:1280px) {
            font-size: 46px;
            line-height: 1.15;
        }
    }

    &__item::after{
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        background-color: var(--secondary-logo-color);
        position: absolute;
        top: 0;
        right: -6px;
        z-index: -1;

        @media screen and(min-width:1280px) {
            width: 30px;
            height: 30px;
            right: -13px;
        }
    }

    &__text{
        display: block;
        font-family: DM Sans;
        font-size: 8px;
        line-height: 1.25;
        color: var(--secondary-logo-color);
        text-transform: lowercase;

        @media screen and(min-width:1280px) {
            font-size: 14px;
            line-height: 1.28;
        }
    }
    }
}

.icecream-pic{
    display: block;
    width: 170px;
    height: 410px;
    z-index: 0;

    background-image: url(../images/hero_header_img/icecream_tel.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 32px;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    
      background-image: 
      url(../images/hero_header_img/icecream_tel_2x.png);
     }

     @media screen and (min-device-pixel-ratio: 3),
     screen and (min-resolution: 288dpi),
     screen and (min-resolution: 3dppx) {
     
       background-image: 
       url(../images/hero_header_img/icecream_tel_3x.png);
      }

    @media screen and(min-width:768px) {
        width: 143px;
        height: 336px;

        right: 247px;

        background-image: 
        url(../images/hero_header_img/icecream_tab.png);
 
           @media screen and (min-device-pixel-ratio: 2),
           screen and (min-resolution: 192dpi),
           screen and (min-resolution: 2dppx) {
           
            background-image: 
            url(../images/hero_header_img/icecream_tab_2x.png);
            }

            @media screen and (min-device-pixel-ratio: 3),
            screen and (min-resolution: 288dpi),
            screen and (min-resolution: 3dppx) {
            
             background-image: 
             url(../images/hero_header_img/icecream_tab_3x.png);
             }
        }  


    @media screen and(min-width:1280px) {
            width: 236px;
            height: 557px;

            right: 350px;
            background-image: 
             url(../images/hero_header_img/icecream_desk.png);

             @media screen and (min-device-pixel-ratio: 2),
             screen and (min-resolution: 192dpi),
             screen and (min-resolution: 2dppx) {
             
              background-image: 
              url(../images/hero_header_img/icecream_desk_2x.png);
              }
  
              @media screen and (min-device-pixel-ratio: 3),
              screen and (min-resolution: 288dpi),
              screen and (min-resolution: 3dppx) {
              
               background-image: 
               url(../images/hero_header_img/icecream_desk_3x.png);
               }

            
    }
}

.lady-pic{

    display: none;

    @media screen and(min-width:768px) {
        
    display: block;
    width: 168px;
    height: 133px;
    background-image: url(../images/hero_header_img/lady_tab.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    }

     
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    
     background-image: 
     url(../images/hero_header_img/lady_tab_2x.png);
     }

     @media screen and (min-device-pixel-ratio: 3),
     screen and (min-resolution: 288dpi),
     screen and (min-resolution: 3dppx) {
     
      background-image: 
      url(../images/hero_header_img/lady_tab_3x.png);
      }



    @media screen and(min-width:1280px) {
        width: 293px;
        height: 232px;

        background-image: 
        url(../images/hero_header_img/lady_desk.png);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        
         background-image: 
         url(../images/hero_header_img/lady_desk_2x.png);
         }
    
         @media screen and (min-device-pixel-ratio: 3),
         screen and (min-resolution: 288dpi),
         screen and (min-resolution: 3dppx) {
         
          background-image: 
          url(../images/hero_header_img/lady_desk_3x.png);
          }
    }
}



