.header-hero{
    background-color: var(--hero-bg-color);
    position: relative;

    &::before{
        content: '';
        display: block;
        // width: 346px;
        // height: 344px;
        // border-radius: 344px;
        width: 538px;
        height: 538px;
        border-radius: 538px;
        background-color: var(--third-logo-color);
        position: absolute;
        left: 37%;
        top: 6%;
        // top: 83px;
        // left: 36px;
        z-index: 0;
    }
}

